body{
    background-color:rgb(85, 0, 0);
}
#ChatBig{
    width: 500px;
    height: 450px;
    border: 1px solid #000;
    margin: auto;
}
#ChatMessages{
    width: 500px;
    height: 400px;
    font-size: 19px;
    font-weight: normal;
}
#ChatText{
    width: 495px;
    height: 49px;
    font-size: 14px;
    border-bottom: 2px solid #333;
    border: 1px solid black;
}
#ChatMessages{
    background-color: #228B22;
    overflow: auto;
}
#ChatMessages::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
#ChatMessages::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#ChatMessages::-webkit-scrollbar{
    width: 12px;
}
#ChatText:focus{
    outline: none;
}
.UserNameS{
    color: orange;
}
.UserNameS:hover{
    text-decoration: underline;
    cursor: pointer;
}